 <!DOCTYPE html>
  <html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <title>Create Group</title>
    <meta name="viewport" content="width-device-width">
    <link rel=stylesheet href="create-group.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <div class ="container-fluid">
  <div class = "col-md-6 col-lg-6 block1">
      <h3>Create a Broadcast Group</h3>
  <div class = "self-container-1">
   <form>
   <div class = "form-input-first">
   <input type="text" placeholder= "Group Name" name="Groupname">
   </div>
   <div class = "form-input">
   <input type="email" placeholder= "Email" name="Email">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "Group Description" name="Groupdescription">
   </div>
     <input type = "submit" name = "submit" value = "CREATE GROUP" class="btn-create">
   </form>
   </div>
      </div>
     <div class = "col-md-6 col-lg-6 block2">
     <h3>Add Registered user to Group</h3>
    <div>
    <a class ="add-style" href = "#">Add another user</a>
    </div>
  <div>
   <div class = "self-container-2">
   <form>
   <div class = "form-input-first">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
     <input type = "submit" name = "submit" value = "ADD USER" class="btn-create">
     </form>
  </div>
    </div>
    </div>
    </body>

   </html>