<!DOCTYPE html>
  <html>
  <head>
    <title>signup-form</title>
    <link rel=stylesheet type="text/css" href="create-group.css">
  </head>
  <body>
  <div>
   <h1>Create a Broadcast Group</h1>
  <div class = "container">
   <form>
   <div class = "form-input-first">
   <input type="text" placeholder= "Group Name" name="Groupname">
   </div>
   <div class = "form-input">
   <input type="email" placeholder= "Email" name="Email">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "Group Description" name="Groupdescription">
   </div>
     <input type = "submit" name = "submit" value = "CREATE GROUP" class="btn-create">
   </form>
   </div>
    </div>
    <div>
    <h2>Add Registered user to Group</h2>
    <div>
    <a class ="add-style" href = "#">Add another user</a>
    </div>
  <div>
   <form>
   <div class = "form-input-first">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "username" name="username">
   </div>
     <input type = "submit" name = "submit" value = "ADD USER" class="btn-create">
  </div>
    </body>

   </html>