body {
    background: url(images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    margin: 0;
}

#logo {
    margin-left: 1%;
    margin-top:1%;
}
.slogan {
    width: 10%;
    font-size: 500%; 
    margin-left:7%;
    margin-top: 8%;
    font-family: verdana;
    color:#c7dbf9;
    font-weight: 800;
}

.container{
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    border-radius: 10px;
    margin:0 auto;
    margin-top: -270px;
    margin-right: 100px;
}
.container img{
    width: 120px;
    height:120px;
    margin-top:-60px;
    margin-bottom:30px;
}

input[type="text"], input[type="password"] {
    height: 45px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}
form-input: before {
    background: url(images/user.png);
    position: absolute;
    font-size: 30px;
    color: #985986;
    padding-top:5px;
    font-size:35px;
}
.btn-login {
    padding: 15px 55px;
    color:#fff;
    background-color: #062a63;
    border: none;
    border-radius:4px;
    border-bottom: 4px solid color #0c2e66;
}
a {
    text-decoration: none;
    color:white;

    font-family:sans-serif}

a:hover {
    color: coral;
    font-weight:bold;
}
@media(max-width:1000px) {  
body {
    background: url(images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size:cover;
    margin: 0;
}  
#logo {
    margin-left: 1%;
    margin-top:1%;
}
.slogan {
    max-width: 30%;
    font-size: 200%; 
    margin-left:7%;
    margin-top: 2%;
    font-family: verdana;
    color:#c7dbf9;
    font-weight: 800;
}

.container{
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    border-radius: 10px;
    margin:0 auto;
    margin-top:60px;
    margin-right: 100px;
    margin-left: 70px;
}
.container img{
    width: 120px;
    height:120px;
    margin-top:-60px;
    margin-bottom:30px;
}


}
