 <!DOCTYPE html>
  <html>
  <head>
    <title>PostIt</title>
    <link rel=stylesheet type="text/css" href="login.css">
    </head>
  <body>
  <table style="width:100%">
  <div id='logo'>
      <img src="images/logo.png" id="logo"/></div>
  <td>
      <div class = slogan> Where Collaboration happens</div>
  </td>
  <td>
   <div class = "container">
    <img src = "images/user.png"/>
   <form>
     <div class = "form-input">
       <input type = "text" placeholder="Email ID" name = "username">
     </div>
     <div class = "form-input">
       <input type = "password" placeholder="Password" name = "password">
     </div>
     <input type = "submit" name = "submit" value = "SIGNUP" class="btn-login" >
      <input type = "submit" name = "submit" value = "LOGIN" class="btn-login" >
   </form> </br>
   <a href = "#"> Forgot password? </a>
    </div>
    </td>
    </table>
    </body>

   </html>