 <!DOCTYPE html>
  <html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <title>Message Board</title>
    <meta name="viewport" content="width-device-width">
    <link rel=stylesheet href="message-board.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     
    </head>
  <body>
  <div class ="container-fluid">
    <div class = "col-md-6 col-lg-6 block1">
      <div class = "self-container">
   <h3>Message Board</h3>
   <div class = "groups">
    <a class ="groups-style" href = "#">Loveth Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Zeal Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Bummy's Group</a>
    </div>
     <div class = "groups">
    <a class ="groups-style" href = "#">Loveth Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Zeal Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Bummy's Group</a>
    </div>
     <div class = "groups">
    <a class ="groups-style" href = "#">Loveth Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Zeal Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Bummy's Group</a>
    </div>
     <div class = "groups">
    <a class ="groups-style" href = "#">Loveth Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Zeal Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Bummy's Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Zeal Group</a>
    </div>
    <div class = "groups">
    <a class ="groups-style" href = "#">Bummy's Group</a>
    </div>
   </div>

      </div>
     <div class = "col-md-6 col-lg-6 block2">
     <div class ="chatbox">
  <div class ="chatlogs">
    <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>
  <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>
  <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>
  <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>
  <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>
  <div class ="chat friend">
      <div class ="user-photo"><img src="images/user.png"></div>
    <p class ="chat-message">What's up, Brother...!!</p>
    </div>
    <div class ="chat self">
      <div class ="user-photo"> <img src="images/user.png"></div>
     <p class ="chat-message">What's up...!!</p>
  </div>

  </div>
  <div class="chat-form">
  <textarea></textarea>
  <button>Send</button>
  </div> 
  </div>
    </div>
    </body>

   </html>