
body {
    margin: 0;
     background: url(images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    box-sizing: border-box;   
}
.col-sm-4{
    width:100%;
    padding:10px;
}
#logo {
    margin-top: 2%;
}
.slogan {
    font-size: 400%; 
    margin-top: 20%;
    margin-left: 50px;
    font-family: verdana;
    color:#c7dbf9;
    font-weight: 800;
}
