<!DOCTYPE html>
  <html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>signup-form</title>
    <link rel=stylesheet type="text/css" href="style-signup-form.css">
  </head>
  <body>
  <h1>Create your PostIt Account</h1>
  <table style="width:100%">
  <td>
     <div id='device'>
      <img src="images/device.png"/></div>
  </td>
  <td>
  <div class = "container">
   <form>
   <div class = "form-input-first">
   <input type="text" placeholder= "First Name" name="Firstname">
   </div>
   <div class = "form-input">
   <input type="text" placeholder= "Last Name" name="Lastname">
   </div>
   <div class = "form-input">
   <input type="email" placeholder= "Email" name="Email">
   </div>
   <div class = "form-input">
   <input type="password" placeholder= "Password" name="pwd">
   </div>
   <div class = "form-input">
   <input type="password" placeholder= "Confirm Password" name="confrim-pwd"><br>
   </div>
   <input type = "submit" name = "submit" value = "CREATE" class="btn-create">
   </form>
   </div>
    </td>
    </table>
    </body>

   </html>